@model GalvantMVC.Application.ViewModels.AdditionalFieldsVm

@if (Model.SelectedType == "suwnica")
{
    <div class="form-group">
        <label asp-for="Field1" class="control-label"></label>
        <input asp-for="Field1" class="form-control" />
        <span asp-validation-for="Field1" class="text-danger"></span>
    </div>
}
else if (Model.SelectedType == "wózek")
{
    <div class="form-group">
        <label asp-for="Field2" class="control-label"></label>
        <input asp-for="Field2" class="form-control" />
        <span asp-validation-for="Field2" class="text-danger"></span>
    </div>
}
