@using GalvantMVC.Application.ViewModels;

@model GalvantMVC.Application.ViewModels.NewEquipmentVm
@{
    ViewData["Title"] = "AddEquipment";
    var types = ViewBag.Types as List<string>; // Pobierz listę typów z ViewBag
}

<h1>AddEquipment</h1>

<h4>NewEquipmentVm</h4>

<hr />
<div class="row>">
    <div class="col-md-4">
        <form asp-action="AddEquipment">
            <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
                          
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" id="type-select">
                    <option value="">Select Type</option>
                    @foreach (var type in types) // Iteruj przez listę typów
                    {
                        <option value="@type">@type</option>
                    }
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div id="additional-fields-container">
                @Html.Partial("_AdditionalFields", new AdditionalFieldsVm()) <!-- Pusty Partial View na początku -->
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script>
        document.getElementById("type-select").addEventListener("change", function() {
            var selectedType = this.value;
            console.log(selectedType);
            
            var additionalFieldsContainer = document.getElementById("additional-fields-container");

            // Wczytaj odpowiedni Partial View dla wybranego typu
            $.ajax({
                url: '@Url.Action("AdditionalFieldsPartial", "Equipment")',
                data: { selectedType: selectedType },
                type: 'GET',
                success: function(result) {
                    additionalFieldsContainer.innerHTML = result;
                },
                error: function() {
                    // Obsłuż błąd w przypadku niepowodzenia żądania
                    alert("Wystąpił błąd podczas ładowania danych.");
                }
            });
        });
    </script>
}

